html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  background: #f2f2f2;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 1.5rem;
}

div {
  float: left;
  width: 25%;
  height: 425px;
  border: 1px solid;
  border-top: none;
  border-bottom: none;
  padding: .75rem;
  background-color: #999;
  text-align: left;
}

img {
  display: block;
  margin: 0 auto;
  width: 100px;
}

h2, p {
  margin: 0;
}

h2 {
  font-size: 1rem;
  margin-top: 1.5rem;
}

h2 + p {
  font-style: italic;
  font-size: .875rem;
}

a {
  font-size: .875rem;
  display: inline-block;
  text-decoration: none;
  border: 3px solid;
  border-radius: 8px;
  padding: 0.4em 0.75em 0.3em;
  color: #fff;
  background-color: #333;
  border-color: #333;
  margin-top: 1.5rem;
}
